.git
.gitignore
**/.idea
**/.vscode
**/node_modules
**/build
**/.dart_tool
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/bin
**/tmp
**/uploads
**/*.log
**/*.db
**/verify_test.db
client/flutter_app/.dart_tool
client/flutter_app/build
